@import '~@shopify/polaris/build/esm/styles.css';

.Avada-DesktopPosition {
  width: 150px;
  height: 80px;
  border-radius: 1rem;
  position: relative;
  border: 3px solid #f4f6f8;
  cursor: pointer;
  .Avada-DesktopPosition__Input {
    background-color: #f4f6f8;
    width: 60px;
    height: 30px;

    position: absolute;
  }
  .Avada-DesktopPosition__Input--top-left {
    top: 5px;
    left: 5px;
  }
  .Avada-DesktopPosition__Input--top-right {
    top: 5px;
    right: 5px;
  }
  .Avada-DesktopPosition__Input--bottom-right {
    bottom: 5px;
    right: 5px;
  }
  .Avada-DesktopPosition__Input--bottom-left{
    bottom: 5px;
    left: 5px;
  }
}

.Avada-DesktopPosition--selected, .Avada-MobilePosition--selected {
  border-color: #5c6ac4 !important;
  .Avada-DesktopPosition__Input, .Avada-MobilePosition__Input {
    background-color: #5c6ac4 !important;
  }
}

.Avada-MobilePosition {
  width: 80px;
  height: 100px;
  border-radius: 1rem;
  position: relative;
  border: 3px solid #f4f6f8;
  cursor: pointer;
  padding: 5%;
  .Avada-MobilePosition__Input {
    background-color: #f4f6f8;
    width: 90%;
    height: 20px;
    border-radius: 1rem;
    position: absolute;
  }
  .Avada-MobilePosition__Input--top {
    top: 5px;
  }
  .Avada-MobilePosition__Input--bottom {
    bottom: 5px;
  }
}



.Avava-SP__Wrapper {
    width: 293px;
    position: relative;
    z-index: 99;
    color: #333;
  }
  
  .Avava-SP__Wrapper .Avava-SP__LinkWrapper {
    color: #333;
  }
  @media screen and (max-width: 575px) {
    .Avava-SP__Wrapper {
      left: 15px;
    }
  }
  .Avava-SP__Wrapper img {
    max-width: 135px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -100px;
    left: -10px;
    text-align: center;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .Avava-SP__Wrapper .Avava-SP__Inner {
    position: relative;
  }
  .Avava-SP__Wrapper .Avava-SP__Inner:hover img {
    opacity: 1;
    visibility: visible;
    top: -120px;
  }
  .Avava-SP__Wrapper .Avava-SP__Container {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
    -moz-box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
    box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
    background: #ffffff;
    padding: 5px;
  }
  .Avava-SP__Wrapper .Avava-SP__Image {
    height: 65px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #43495a;
    font-size: 55px;
    width: 65px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    line-height: 69px;
    background-size: cover;
    background-position: center;
  }
  .Avava-SP__Wrapper .Avada-SP__Content {
    display: inline-block;
    width: calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  .Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Subtitle {
    margin-bottom: 0;
    font-size: 10px;
    //font-weight: bold;
    //color: #8b93a8;
  }
  .Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Footer {
    font-size: 10px;
    line-height: 16px;
    margin-top: 5px;
  }
  .Avava-SP__Wrapper .Avada-SP__Content .uni-blue {
    color: #2196f3;
    border-left: 1px solid #e2e4e9;
    margin-left: 8px;
    padding-left: 8px;
  }
  